
<div class="wrapper">
    <a href="/">
        <button type="button" style="background-color: transparent; border: none;">
            <h1 class="mb-4"> <%= title %> ✨</h1>
        </button>
    </a>
    
</div>

